<!DOCTYPE html>
<html>

  <head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>

<body>

        <form id="frm" enctype="multipart/form-data">
            <br />
            <br />
            <br />
            <br />
             <div class=" col-md-3 "></div>
            <div class=" col-md-6 " style=" box-shadow: 0px 3px 5px 10px #8888882e;" >
                <div rowspan="2" class="col-sm-4" >
                    <br />
                    <img src="/staticFiles/SysLogo.jpeg" style="width:100%;height:100%;" id="" />
                     <br />
                    </div>


             <div class="row form-group col-sm-8">
                    <br />
            <br />
                <label for="inputPassword" class=" col-form-label">Password</label>
                <div class="">
                    <input type="password"  name="newPassword"  id="newPassword"   class="col-sm-8" placeholder="" >
                   
                </div>
            </div>            <br />
            <br />
            <br />
            <br />

            <div class=" row form-group col-sm-8 ">
                <label for="inputPassword" class=" col-form-label">Re-Enter Password</label>
                <div class="">
                    <input type="password"  name="confirmPassword" id="confirmPassword" class="col-sm-8" placeholder="" >
                   
                </div>
            </div>
             <div class=" row form-group col-sm-12 ">
                 
           
            <div class="  col-sm-3 ">
            </div>
            <div class="  form-group col-sm-6 ">
                 <input type="button" value="Change Password" style="width: 100%;background-color: #3f51b5;color: white;height:35px" onclick="SavePassword()" />
                 <br />
                 <br />
    <p id="info" name="info" style="color:red">   </p> 
                 
            </div>
             
             </div>
              
            </div>
             
    @*<label id="lbInfo" name="lbInfo"></label>*@
                <label>@TempData["msg"]</label>

    @if (TempData["msg"]!= null)
    {
    <p id="info2" name="info" style="color:red"> @TempData["msg"].ToString()</p> 

        
    }
</form>

</body>
</html>



<script type="text/javascript">
    

    function SavePassword () {
        if($('#newPassword').val()=="")
        {
           $('#info').text('Please Enter Your new Password.');
            return;
        }
        if($('#newPassword').val()!=$('#confirmPassword').val())
        {
            debugger;
           $('#info').text('Not Matched. Please Re-Enter Your Password.');
            return;
        }
        var userId = parseInt(@ViewBag.UserId);
          $.ajax({
               type: "POST",
                url: "http://localhost:5212/api/ChangePassword/ResetUserPassword",
                data: { Id:userId, NewPassword: $('#newPassword').val(), ConfirmPassword:  $('#confirmPassword').val() },
                dataType: "json",
                success: function (res) { //call successfull
                    console.log(res)
                },
                error: function (xhr) {
                }
            });
    }

</script>