<!DOCTYPE html>
<html>

  <head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

        <form id="frm" enctype="multipart/form-data">

             <div class="form-group row">
                <label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                    <input type="password"  data-val="true" data-valmsg-replace="true" id="txtPassword"  class="form-control" placeholder="" data-val-required="Password is Required" required>
                   
                </div>
            </div><br>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-3 col-form-label">Re-Enter Password</label>
                <div class="col-sm-9">
                    <input type="password" data-val="true" data-valmsg-replace="true" id="txtConfirmPassword"  class="form-control" placeholder="" data-val-required="Confirm Password is Required" required>
                   
                    <span class="field-validation-error_2" style="color:red;"></span>
                </div>
            </div><br>
            <div class="row">
                <div class="col-xs-12">
                    <span class="field-validation-error" style="color:red;display:block;margin-bottom:10px;"></span>
                </div>
            </div>
            <div>
                <label id="lblResetPasswordResults" style="color:red">

                </label>
            </div>




    <input type="text" name="newPassword" id="newPassword" />
    <input type="text" name="confirmPassword" id="confirmPassword" />

    <input type="button" value="Save" onclick="SavePassword()" />
    <br />
    <p>Using TempData: @TempData.ContainsKey("msg")TempData["msg"].ToString() </p> 
            @*<label id="msg"  class="col-sm-3 col-form-label">@(TempData["msg"])</label>*@

    @*@if (ViewBag.Msg!= null)
    {
     <script>
         document.getElementById('msg').val()="@ViewBag.Msg";
     </script>
        
    }*@
</form>

</body>
</html>



<script type="text/javascript">
    

    function SavePassword () {


          $.ajax({
               type: "POST",
                url: "http://localhost:5212/api/ChangePassword/ResetUserPassword",
                data: { Id:50, NewPassword: $('#newPassword').val(), ConfirmPassword:  $('#confirmPassword').val() },
                dataType: "json",
                success: function (res) { //call successfull
                    console.log(res)
                },
                error: function (xhr) {
                }
            });
    }

</script>