@using IesSchool.Core.Dto
@model PasswordResetDto;
<!DOCTYPE html>
<html>

  <head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>

<body>

        <form id="frm" enctype="multipart/form-data">
            <br />
            <br />
            <br />
            <br />
             <div class="  col-md-3 col-lg-3 col-sm-1 col-xs-1"></div>
            <div class=" col-md-6 col-lg-6 col-sm-10 col-xs-10 " style=" box-shadow: 0px 3px 5px 10px #8888882e;" >
                <div  class="row form-group" style="height:270px" >
                    <br />
                    <img src="/staticFiles/LayoutLogo.jpg" style="width:100%;height:100%;" id="" />
                     <br />
                    </div>
                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2"></div>
                    <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
             <div class=" form-group ">
                    <br />
            <br />
                <label for="inputPassword" class=" col-md-6 col-lg-6 col-sm-6 col-xs-6 col-form-label">Password</label>
                <div class="">
                    <input type="password"  name="newPassword"  id="newPassword"   class="col-md-6 col-lg-6 col-sm-6 col-xs-6" placeholder="" >
                   
                </div>
                <br />
            </div>          
           

            <div class="  form-group ">
                <label for="inputPassword" class="col-md-6 col-lg-6 col-sm-6 col-xs-6 col-form-label">Re-Enter Password</label>
                <div class="">
                    <input type="password"  name="confirmPassword" id="confirmPassword" class="col-md-6 col-lg-6 col-sm-6 col-xs-6" placeholder="" >
                   
                </div>
                </div>
            </div>
             <div class=" form-group col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
                 
                 <br /> <br /> <br />
                 <input type="button" value="Change Password" style="width: 100%;background-color: #3f51b5;color: white;height:35px" onclick="SavePassword()" />
                 <br />
                 <br />
                 <p id="info"  name="info" style="color:red;text-align: center;">   </p> 
                 <p id="infoSucces" class="bold"  name="info" style="color:green;text-align: center;">   </p> 
             </div>
              
            </div>
          
    </form>

</body>
</html>



<script type="text/javascript">
    

    function SavePassword () {
         $('#infoSucces').text('');
        if($('#newPassword').val()=="")
        {
           $('#info').text('Please Enter Your new Password.');
            return;
        }
        if($('#newPassword').val()!=$('#confirmPassword').val())
        {
            debugger;
           $('#info').text('Not Matched. Please Re-Enter Your Password.');
            return;
        }
         $('#info').text('');
        var userId = parseInt(@ViewBag.UserId);
          $.ajax({
               type: "POST",
                url: "http://localhost:5212/api/ChangePassword/ResetUserPassword",
                data: { Id:userId, NewPassword: $('#newPassword').val(), ConfirmPassword:  $('#confirmPassword').val() },
                dataType: "json",
                success: function (res) { //call successfull
                    console.log(res)
                      
                       $('#newPassword').val('');
                       $('#confirmPassword').val('');
                     $('#infoSucces').text(res.value.replay);
                },
                error: function (xhr) {
                      console.log(res)
                }
            });
    }

</script>